@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
--primary-color:#2d3047;
--secondrary-color:#dc758f;
--text-color:#e3d3e4;
--clr-white:#fff;
--clr-black:#000;
}
html{
  font-size: 16px;
}
body{
  font-family: 'League Spartan', sans-serif;
  background-color: var(--text-color);
  color: var(--clr-black);
}
hr{
  margin: 2rem;
}
.text-sm{
  font-size: 0.8rem;
}
.container-fluid{
  padding-left: 1rem;
  padding-right: 1rem;
}
a{
  text-decoration: none;
}
.container{
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 85%;
}
.title{
  text-align: center;
  margin: 1.5rem auto;
  text-transform: uppercase;
  text-decoration: underline;
}
.description{
  width: 80%;
  margin: 0.25rem auto;
}
.description p {
  margin: 01.5rem auto;
}
.link-title{
  text-align: center;
  margin: 1.2rem;
  text-decoration: underline;
}
.section-title{
  text-align: center;
  margin: 1.2rem;
  text-decoration: underline;
}